

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0; 
}



.categorias-container {
  padding: 20px;
  border-radius: 10px;
  width: 80%; 
  max-width: 600px;
}


.form-container {
  
}


.categoria-item {
  
}
