
body {
  background: linear-gradient(to bottom, #b7cfeb, #7c8dbc); 
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.Login {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  color: #103668;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  height: 450px;
  width: 300px;
}

.input-group {
  display: block;
  margin-bottom: 10px; 
}

.Login label,
.Login input {
  display: block;
  margin-bottom: 10px; 
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px; 
  background-color: #acbdd5;
  color: #4b6b3d;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  border-radius: 20px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1; 
  
}

.navbar-item {
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 10px; 
  margin: 90px;
  background-color: #acbdd5;
}

.navbar-item:hover {
  transform: scale(1.1); 
  
}

.active {
  font-weight: bold; 
  
  color: #a7412a; 
  
}


.carousel * {
  box-sizing: border-box;
  width: 300px;
}